* {
    box-sizing: border-box;
}
div#wrapper, footer {
    margin: auto;
    width: 1000px;
    background-color: rgb(251, 235, 235);
    padding: 20px;
}
body {
    font-family:"Arial", "sans-serif";
    line-height: 24px;
}
nav {
    margin-top: 20px;
    margin-bottom: 20px;
}
nav a {
    margin-right: 20px;
}

div#pictures {
    max-width: 100%;
    display: grid;
    grid-template-columns: 49% auto;
    grid-gap: 20px;
}

img {
    max-width: 100%;
}

img.fill {
    min-height: 100%;
}

img#movedown {
    transform: translateY(4px);
}
img.article{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 303px;
}

article {
    display: inline-block;
    width: 33%;
    padding-right: 15px;
    vertical-align: top;
}
article:last-child {
    padding-right: 0px;
}

footer {
    background-color: rgb(166, 166, 166);
    color: white;
}
footer a {
    color: white;
}
